.opening {
	position:absolute;
	@include gr($red,$red2,$red);
	top:0;
	left:0;
	width:100%;
	min-height:100%;
	.topbar {
		background:transparent;
		width:100%;
		text-align: left;
		padding:3rem;
		.logo {
			display: inline-block;
			margin:0rem;
			margin-right:2rem;
			height:5rem;
			width:5rem;
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
			&.nlleest {
				background-image: url("images/NLL-logo.png");
			}
			&.algdag {
				background-image: url("images/algemeendagbladlogo.png");
			}
		}
		.loginlink {
			color:rgba(#fff,0.5);
			float:right;
			margin:1rem;
			text-decoration: none;
			font-size:2rem;
			&:hover {
				color:#fff;
			}
		}
		@media (max-width:800px){
			padding:1rem;
			.logo {
				width:3rem;
				height:3rem;
			}
			.loginlink {
				margin:.5rem;
				font-size:1.5rem;
			}
		}
	}
	.kop {
		color:#fff;
		min-height:200px;
		.vcenter {
			display:inline-block;
			vertical-align: middle;
			float:none;
		}
		h1 {
			font-size:4em;
		}
	}
	form {
		max-width:28rem;
		margin: 0 auto;
		input.form-control {
			background:darken($red,10);
			border:0;
			font-size:2rem;
			padding:0.25em 1em;
			height:auto;
			color:#fff;
			outline:none;
			@include placeholder {
				color:rgba(#fff,0.5);
			}
			&:focus {
				border:0;
				background:darken($red,15);
				@include shadow(none);
			}
		}
		.help-block {
			display: block;
			padding:0.5em;
			font-style:italic;
			color:darken($red,20);
			text-align: center;
		}
		.etc-login-form {
			color:darken($red,20);
			text-align: center;
			a {
				text-decoration: underline;
				color:darken($red,20);
				&:hover {
					color:darken($red,30);
				}
			}
		}
		.login-group-checkbox {
			input {
				display:none;
			}
			label {
				font-weight:normal;
				// background:darken($red,10);
				padding:0em 1em;
				color:rgba(#000,0.2);
				cursor:pointer;
				@include rounded(3px);
				display:block;
				margin:0 auto;
				text-align:center;
			}
			input:checked + label {
				// background:darken($red,15);
				color:rgba(#000,0.8);
			}
		}
		button {
			border:0;
			background:darken($red,10);
			font-size:2rem;
			color:rgba(#fff,0.5);
			padding: 0.25em 1em;
			margin:1rem auto 2rem auto;
			display: block;
			outline:none;
			&:hover {
				color:#fff;
				background:darken($red,15);
			}
			&:active { 
				outline:none;
			}
		}
	}
}

.credits {
	position: fixed;
	bottom:0;
	left:0;
	width:100%;
	padding:1rem;
	p {
		color:rgba(#000,0.3);
		max-width: 48em;
		margin:0 auto;
	}
	@media (max-height:600px){
		position: relative;
		bottom:auto;
		left:auto;
		margin-top:8rem;
	}
	a {
		color:inherit;
		text-decoration: underline;
		&:hover {
			color:#ccc;
		}
	}
}