@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Cousine');

.navbar-default {
  background-color: #fff
}
body {
  background-color: #f5f5f5;
}

/* Bootstrap tweaks */
li.list-group-hover.list-group-item:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}

/* generate bar */
.generate-bar div.panel:nth-child(1) {
    border-left: none;
    border-right: none;
    box-shadow: 0 2px 0px rgba(0,0,0,.05);
}
.generate-bar .panel-heading{
  padding: 0;
}
.generate-bar .form-group {
  margin-bottom: 10px !important;
  display: inline-flex;
}
.generate-bar .form-horizontal .control-label {
  width: 120px;
}


/* Individual elements on the generate bar*/

.generate-bar .rc-slider {
  width: 140px !important;
}
.generate-bar .panel-heading .form-group:nth-child(2){
  margin-right: -30px;
}
.generate-bar .panel-heading .form-group:nth-child(3){
  margin-right: 10px;
}
.generate-bar .panel-heading .form-group:nth-last-child(1){
  float: right;
  margin-top: 15px;
  margin-right: 20px
}


/* Editor */

.RichEditor-root {
  background: #fff;
  border: none;
  font-family: 'Cousine', monospace;
  font-size: 18px;
  padding: 18px;
}

.RichEditor-editor {
  cursor: text;
}
.RichEditor-editor .public-DraftEditor-content {
  min-height: 200px;
}

.RichEditor-editor .public-DraftEditorPlaceholder-root,
.RichEditor-editor .public-DraftEditor-content {
  padding: 20px;
}

/* 
.RichEditor-hidePlaceholder .public-DraftEditorPlaceholder-root {
  display: none;
} */
/* 
.RichEditor-editor .RichEditor-blockquote {
  border-left: 5px solid #eee;
  color: #666;
  font-family: 'Hoefler Text', 'Georgia', serif;
  font-style: italic;
  margin: 16px 0;
  padding: 10px 20px;
}

.RichEditor-editor .public-DraftStyleDefault-pre {
  background-color: rgba(0, 0, 0, 0.05);
  font-family: 'Inconsolata', 'Menlo', 'Consolas', monospace;
  font-size: 16px;
  padding: 20px;
}
 */
.RichEditor-controls {
  user-select: none;
  position: absolute;
  width: 20px;
  left: -50px;
  top: 0px;
}
.RichEditor-controls .btn-sm{
  color: #999;
  margin: 6px;
  background-color: #f5f5f5;
  width: 40px;
}
.RichEditor-controls .btn-sm:hover{
  color: #000;
  background-color: #fff;
}

.RichEditor-styleButton {
  cursor: pointer;
  margin-right: 5px;
  padding: 2px;
  display: inline-block;
}

.RichEditor-activeButton {
  color: #5890ff;
}

/* Forms */
.etc-login-form {
  color: #919191;
  padding: 10px 20px;
}

.etc-login-form p {
  margin-bottom: 5px;
}

.login-form-1 {
  max-width: 300px;
  border-radius: 5px;
  display: inline-block;
}

.main-login-form {
  position: relative;
}

.login-form-1 .form-control {
  border: 0;
  box-shadow: 0 0 0;
  border-radius: 0;
  background: transparent;
  color: #555555;
  padding: 7px 0;
  font-weight: bold;
  height:auto;
}

.login-form-1 .form-control::-webkit-input-placeholder {
  color: #999999;
}

.login-form-1 .form-control:-moz-placeholder,
.login-form-1 .form-control::-moz-placeholder,
.login-form-1 .form-control:-ms-input-placeholder {
  color: #999999;
}

.login-form-1 .form-group {
  margin-bottom: 0;
  border-bottom: 2px solid #efefef;
  padding-right: 20px;
  position: relative;
}

.login-form-1 .form-group:last-child {
  border-bottom: 0;
}

.login-group {
  background: #ffffff;
  color: #999999;
  border-radius: 8px;
  padding: 10px 20px;
}

.login-group-checkbox {
  padding: 5px 0;
}

.login-form-1 .login-button {
  position: absolute;
  right: -25px;
  top: 50%;
  background: #ffffff;
  color: #999999;
  padding: 11px 0;
  width: 50px;
  height: 50px;
  margin-top: -25px;
  border: 5px solid #efefef;
  border-radius: 50%;
  transition: all ease-in-out 500ms;
}

.login-form-1 .login-button:hover {
  color: #555555;
  transform: rotate(450deg);
}

.login-form-1 .login-button.clicked {
  color: #555555;
}

.login-form-1 .login-button.clicked:hover {
  transform: none;
}

.login-form-1 .login-button.clicked.success {
  color: #2ecc71;
}

.login-form-1 .login-button.clicked.error {
  color: #e74c3c;
}

.login-form-main-message {
  background: #ffffff;
  color: #999999;
  border-left: 3px solid transparent;
  border-radius: 3px;
  margin-bottom: 8px;
  font-weight: bold;
  height: 0;
  padding: 0 20px 0 17px;
  opacity: 0;
  transition: all ease-in-out 200ms;
}

.login-form-main-message.show {
  height: auto;
  opacity: 1;
  padding: 10px 20px 10px 17px;
}

.login-form-main-message.success {
  border-left-color: #2ecc71;
}

.login-form-main-message.error {
  border-left-color: #e74c3c;
}

.login-message {
  padding: 15px 0;
  font-size: 25px;
  color: #aaaaaa;
  font-weight: bold;
}