[Unit]
Description=Redis Service
After=network.target
                                         
[Service]
Type=forking
User=ubuntu
Group=www-data
PIDFile=/run/redis/redis.pid
ExecStartPre=/usr/bin/touch /var/log/redis.log
ExecStart=/usr/bin/redis-server
ExecStop=/usr/bin/redis-cli shutdown
ExecReload=/bin/kill -USR2 $MAINPID
                          
[Install]
WantedBy=multi-user.target
