Description=Redis In-Memory Data Store                       
After=network.target                                         
                                                             
[Service]                                                    
Type=forking
User=ubuntu
Group=www-data
Environment=statedir=/run/redis
PermissionsStartOnly=true
PIDFile=/run/redis/redis.pid
ExecStartPre=touch /var/log/redis.log
ExecStart=redis-server
ExecStop=redis-cli shutdown
ExecReload=/bin/kill -USR2 $MAINPID
Restart=always
RestartSec=3
                                                             
[Install]                                                    
WantedBy=multi-user.target                                   