Description=Redis In-Memory Data Store
After=network.target
                                         
[Service]
Type=forking
User=ubuntu
Group=www-data
Environment=statedir=/run/redis
PermissionsStartOnly=true
PIDFile=/run/redis/redis.pid
ExecStartPre=/usr/bin/touch /var/log/redis.log
ExecStart=/usr/bin/redis-server
ExecStop=/usr/bin/redis-cli shutdown
ExecReload=/bin/kill -USR2 $MAINPID
                          
[Install]
WantedBy=multi-user.target
