[Unit]
Description=Gunicorn instance to serve weasimov
After=network.target

[Service]
User=ubuntu
Group=www-data
Environment=PYTHONIOENCODING=UTF-8
Environment=LC_ALL=en_US.UTF-8
Environment='ASI_MAIL_PASSWORD=1001 generations'
Environment='WEASIMOV_DB_URL=mysql+mysqldb://weasimov:weasimov@127.0.0.1/weasimov'
Environment='PYTHONPATH=${PYTHONPATH}:/home/ubuntu/seqmod'
WorkingDirectory=/home/ubuntu/weasimov-public/app
ExecStartPre=/home/ubuntu/.pyenv/bin/pyenv local anaconda3-4.4.0
ExecStart=/home/ubuntu/.pyenv/versions/anaconda3-4.4.0/bin/gunicorn -w 1 -b 127.0.0.1:5000 -k eventlet wsgi:app
ExecStart=/home/ubuntu/.pyenv/versions/anaconda3-4.4.0/bin/gunicorn -w 1 -b 127.0.0.1:5001 -k eventlet wsgi:app
ExecStart=/home/ubuntu/.pyenv/versions/anaconda3-4.4.0/bin/gunicorn -w 1 -b 127.0.0.1:5002 -k eventlet wsgi:app
ExecStart=/home/ubuntu/.pyenv/versions/anaconda3-4.4.0/bin/gunicorn -w 1 -b 127.0.0.1:5003 -k eventlet wsgi:app
ExecStart=/home/ubuntu/.pyenv/versions/anaconda3-4.4.0/bin/gunicorn -w 1 -b 127.0.0.1:5004 -k eventlet wsgi:app
ExecStart=/home/ubuntu/.pyenv/versions/anaconda3-4.4.0/bin/gunicorn -w 1 -b 127.0.0.1:5005 -k eventlet wsgi:app
ExecStart=/home/ubuntu/.pyenv/versions/anaconda3-4.4.0/bin/gunicorn -w 1 -b 127.0.0.1:5006 -k eventlet wsgi:app
ExecStart=/home/ubuntu/.pyenv/versions/anaconda3-4.4.0/bin/gunicorn -w 1 -b 127.0.0.1:5007 -k eventlet wsgi:app
ExecStart=/home/ubuntu/.pyenv/versions/anaconda3-4.4.0/bin/gunicorn -w 1 -b 127.0.0.1:5008 -k eventlet wsgi:app
ExecStart=/home/ubuntu/.pyenv/versions/anaconda3-4.4.0/bin/gunicorn -w 1 -b 127.0.0.1:5009 -k eventlet wsgi:app

[Install]
WantedBy=multi-user.target