@import url('https://fonts.googleapis.com/css?family=Open+Sans');
/* Typography */
.ql-editor p {
  margin: 0;
  counter-reset: list-1 list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9;
  line-height: 30px;
}

.ql-editor p u {
    text-decoration-style: wavy;
    text-decoration-color: purple;
}
/* Generator bar */
.gen-bar {
  position: absolute;
  width: 10px;
  margin-left: -50px;
}

.gen-button{
  border: none;
  border-radius: 50px;
  width: 36px;
  height: 36px;
}

.gen-button img{
  width: 47px;
  margin: -5px 0px 0px -13px;
}
.gen-button:nth-child(1){
  background-color: lightcoral;
}
.gen-button:nth-child(2){
  background-color: yellow;
}
.gen-button:nth-child(3){
  background-color: lightblue;
}
.gen-button:nth-child(4){
  background-color: lightgreen;
}
.temp-slider{
  width: 100px;
  height: 0px;
  margin: 50px 0 0 0;;
      -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
}

/* Toolbar */
.generate-button {
  position: relative;
  bottom: -38px;
  left: 8px;
}
.ql-toolbar.ql-snow {
    padding: 8px 8px 8px 8px;
}
.ql-underline {
  display: none !important;
}
.ql-link {
  display: none !important;
}
/* Frame */
html {
  background-color: #fff;
}
#editor {
    background-color: #fff;
    margin: 0 0 20px 0;
/*     box-shadow: 1px 1px 1px #666; */
}
.wrap {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 2em;
}

#editor-container {
  height: 375px;
}

/* Header */ 
.wrap h1{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

/*history*/

#history {
  border: thin solid lightgrey;
  padding: 0;
}
#history .history-item{
  border-bottom: thin dashed lightgreen;
  padding-bottom: 15px;
}
#history .history-item ul{
}
#history .history-item li{
  list-style: number;
  padding-left: 5px;
  padding-top: 2px;
  font-size: 11px;
  font-family: 'Open Sans';
  color: grey;
}
#history .history-item p, #history .history-item a{
  font-family: 'Open Sans';
  color: grey;
  padding-left: 10px;
  padding-top:0px;
  font-size: 12px;
}

#history .history-item a{
}
#history .history-item a:hover{
  text-decoration: underline;
  text-decoration-style: wavy;
}