<div id="credits" class="overlay">
    <div id="close" class='sluitcredits'>sluit</div>
    <div id='wrap'>
        <p>AsiBot is ontwikkeld door Folgert Karsdorp (<a href="http://www.meertens.knaw.nl/" target="_blank">Meertens Instituut, Amsterdam</a>), Enrique Manjavacas, Ben Burtenshaw en Mike Kestemont (<a href="https://www.uantwerpen.be/" target="_blank">Universiteit Antwerpen</a> — <a href="https://www.uantwerpen.be/en/rg/digitalhumanities/" target="_blank">ACDC</a> / <a href="https://www.clips.uantwerpen.be/" target="_blank">CLiPS</a>). De vormgegeving is verzorgd door Basten Stokhuyzen (<a href="http://bstn.nl" target="_blank">BSTN</a>).
        </p>
        <p>Met dank aan <a href="https://www.cpnb.nl/" target="_blank">Collectieve Propaganda van het Nederlandse Boek</a> en <a href="http://www.nbdbiblion.nl/" target="_blank">NBD Biblion</a> (<a href="https://www.nederlandleest.nl" target="_blank">Nederland Leest</a>).
        </p>
        <p>
        De schrijfwedstrijd is mede mogelijk gemaakt door <a href="https://www.persgroep.nl/merk/adr-nieuwsmedia" target="_blank">ADR Nieuwsmedia</a>.
        </p>
    </div>
    <script>
        $(".sluitcredits").on("click",function(){
            $("body").removeClass("credits");
        });
    </script>
</div>