<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
<div class="text-center" style="padding:50px 0">
    <div class="login-message">registreer</div>
    <div class="login-form-1">
        <form action="" method="POST" name="register" class="text-left">
            <div class="login-form-main-message"></div>
            <div class="main-login-form">
                <div class="login-group">
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                    {{ form.username.label(class="sr-only")}} {{ form.username(class="form-control", placeholder="username") }}
                    {% if form.username.errors %} 
                    {% for error in form.username.errors %}
                        <span class="help-block" style="color: brown">{{ error }}</span>
                    {% endfor %} 
                    {% endif %} 
                    </div>
                    <div class="form-group">
                    {{ form.password.label(class="sr-only") }} {{ form.password(class="form-control", placeholder="password") }}
                    {% if form.password.errors %}
                    {% for error in form.password.errors %}
                        <span class="help-block" style="color: brown">{{ error }}</span>
                    {% endfor %}
                    {% endif %}
                    </div>
                    <div class="form-group">
                    {{ form.cpassword.label(class="sr-only") }} {{ form.cpassword(class="form-control", placeholder="confirm") }}
                    {% if form.cpassword.errors %}
                    {% for error in form.cpassword.errors %}
                        <span class="help-block" style="color: brown">{{ error }}</span>
                    {% endfor %}
                    {% endif %}
                    </div>
                </div>
                <button type="submit" class="login-button" id="register-button">
                    <i class="fa fa-chevron-right"></i>
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}