<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
<div class="register">
  <form action="" method="POST" name="login">
    {{ form.hidden_tag() }}
    <div>
    {{ form.username.label }} {{ form.username(class="css_class") }}
    {% if form.username.errors %} 
    {% for error in form.username.errors %}
        <span class="error-message">{{ error }}</span>
    {% endfor %} 
    {% endif %} 
    </div>
    <div>
    {{ form.password.label }} {{ form.password() }}
    {% if form.password.errors %}
    {% for error in form.password.errors %}
        <span class="error-message">{{ error }}</span>
    {% endfor %}
    {% endif %}
    </div>
    <div>
    {{ form.cpassword.label }} {{ form.cpassword() }}
    {% if form.cpassword.errors %}
    {% for error in form.cpassword.errors %}
        <span class="error-message">{{ error }}</span>
    {% endfor %}
    {% endif %}
    </div>
    <div>
       <button type="submit" class="button-next">Sign Up</button>
    </div>
  </form>
  </div>
{% endblock %}