{% extends "base.html" %}

{% block content %}
<div class="text-center opening">
    <div class='topbar'>
        <a href='http://www.nederlandleest.nl' class='logo nlleest' target="_blank"></a>
        <a href='http://www.ad.nl' class='logo algdag' target="_blank"></a>
        <a href='/register' class='loginlink'>registreer</a>
    </div>
    <div class="row kop">
        <div class='vcenter'>
            <h1>AsiBot</h1>
            <h3>Voor hier je nieuwe wachtwoord in</h3>
        </div>
    </div>
    <div class="login-form-1">
        <form action="{{ url_for('reset_with_token', token=token) }}" method="POST" class="text-left">
            <div class="login-form-main-message"></div>
            <div class="main-login-form">
                <div class="login-group">
                    <div class="form-group">
                    {{ form.password.label(class="sr-only") }} {{ form.password(class="form-control", placeholder="password") }}
                    {{ form.csrf_token }}
                    </div>
                </div>
                <button type="submit" class="login-button" id="reset-button">
                    Ok
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}